.page-menu {
  width: 100%;
  justify-content: space-between;
}

.menu-item {
  margin: 1rem 0.5rem;
  text-align: center;
  transition: all 0.3s linear;
}

.menu-item:hover {
  color: whitesmoke;
  text-shadow: 0px 1px 6px whitesmoke;
  font-weight: 400;
}
