#home-stars {
    position: absolute;
}

.stars {
    position: absolute;
    padding: 1rem;
}

.stars svg {
    width: 9px;
    transition: all 0.2s ease-out;
}

.stars svg:hover {
    width: 15px;
    transform: rotate(35deg);
}

#star-1 {
    top: 4vh;
    left: -45vw;
}

#star-2 {
    top: 15vh;
    left: -22vw;
}

#star-3 {
    top: 25vh;
    left: 3vw;
}

#star-4 {
    top: 5vh;
    left: 25vw;
}

#star-5 {
    top: 33vh;
    left: 40vw;
}

#star-6 {
    top: 46vh;
    left: -43vw;
}

#star-7 {
    top: 83vh;
    left: -35vw;
}

#star-8 {
    top: 65vh;
    left: -15vw;
}

#star-9 {
    top: 87vh;
    left: 15vw;
}

#star-10 {
    top: 70vh;
    left: 36vw;
}