.stars {
    position: absolute;
    padding: 1rem;
    transition: visibility 2s linear;
}

.stars svg {
    width: 40px;
    height: fit-content;
    border-radius: 50px;
    transition: all 0.2s linear;
}

.stars svg:hover {
    scale: 1.5;
    transform: rotate(65deg);
    background-color: rgba(146, 158, 189, 0.2);
    box-shadow:  0px 0px 40px 2px #5f7590;
    stroke: var(--orange);
}
