.main-universe {
  padding: 4rem 5rem 2.5rem 4rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../../assets/background/wine-gradient.svg);
  background-size: cover;
}

.main-universe h1 {
  font-family: 'Zeyada', cursive;
  font-size: 3.5rem;
}

.main-universe h2 {
  margin: 2rem 0 1rem 1rem;
  font-family: 'Zeyada', cursive;
  font-size: 2rem;
}

.footer-universe {
  height: 80px;
}
