@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');

.zeyada {
  font-family: 'Zeyada', cursive;
}

.rubik {
  font-family: 'Rubik Iso', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
  --light-wine: #DDCDD3;
  --wine: #70243B;
  --dark-wine: #4D1929;
  --blue: #1D2E4C;
  --grey: #506279;
  --dark: #04072e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: url(./assets/cursors/pointer-white.svg), default;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 2rem;
  background-color: #1D2E4C;
  color: var(--light-wine);
}

p {
  line-height: 1.8rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button:hover,
a:hover {
  cursor: pointer;
}

.page-title {
  margin: 3rem 0rem;
  font-size: 3.5rem;
  color: var(--wine);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.visible {
  visibility: visible;
  opacity: 1;
}